
@{
    ViewBag.Title = "Index";
}

<section class="todoapp"></section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://github.com/petehunt/">petehunt</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>



@section scripts {
    @Scripts.Render("~/bundles/todoapp")
}